<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.andersonmatte.calculafreela">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".atividade.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".atividade.HomeActivity" />
        <activity android:name=".atividade.SobreActivity" />
        <activity android:name=".atividade.MeusProjetosActivity" />
        <activity
            android:name=".atividade.projeto.Projeto1Activity"
            android:label="@string/meusProjetos" />
        <activity
            android:name=".atividade.projeto.Projeto2Activity"
            android:label="@string/meusProjetos" />
        <activity
            android:name=".atividade.projeto.Projeto3Activity"
            android:label="@string/meusProjetos" />
        <activity
            android:name=".atividade.projeto.Projeto4Activity"
            android:label="@string/meusProjetos" />
        <activity
            android:name=".atividade.projeto.Projeto5Activity"
            android:label="@string/meusProjetos" />
        <activity
            android:name=".atividade.valorHora.ValorHora1Activity"
            android:label="@string/valorHora" />
        <activity
            android:name=".atividade.valorHora.ValorHora2Activity"
            android:label="@string/valorHora" />
        <activity
            android:name=".atividade.valorHora.ValorHora3Activity"
            android:label="@string/valorHora" />
        <activity
            android:name=".atividade.valorHora.ValorHora4Activity"
            android:label="@string/valorHora" />
        <activity
            android:name=".atividade.valorHora.ValorHora5Activity"
            android:label="@string/valorHora" />
    </application>

</manifest>